<header>
<div class="header-image">
</div>
        <nav>
          <div class="nav-wrapper center">
            <figure>
               <%= link_to 'Home', welcome_home_path %>
                <ul class="dropdown">
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li> 
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>                                                              
                <ul>  
            </figure> 
            <figure>
                <a href="#">
                  <%= link_to 'About', welcome_about_path %>
                </a>
                <ul class="dropdown">
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li> 
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>                                                              
                <ul>  
            </figure>
            <figure>
                <a href="#">
                  Category
                </a>
                <ul class="dropdown">
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li> 
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>                                                              
                <ul>  
            </figure> 
            <figure>
                <a href="#">
                  Contact
                </a>
                <ul class="dropdown">
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li> 
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a href="">
                      Lorem Ipsum
                      </a>
                    </li>                                                              
                <ul>  
            </figure>                           
          </div>  
        </nav>  
    </header>
<div class="content-header">
  welcome to my blog
</div>  